@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.navbar {
  background-color: #f8f8f8;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  margin-right: 10px;
  margin-left: 14px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center; 
}

.navbar-logo img {
  margin-right: 5px; 
}

.navbar-links-container {
  display: flex;
  margin-top: 2px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center; 
}

.navbar-links li {
  display: inline;
  margin-right: 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
}

.navbar-links li a:hover {
  color: rgb(112, 112, 27);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
 background-color: #896eff;
}

.section h2 {
  text-transform: uppercase;
  font-family: 'Belanosima', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 70px;
  padding-top: 0px;
  color: #ffffff;
}

.section h2, p, .buttons{
padding-left: 60px;
}

.section h2 span {
  color: #ffffff; 
}

.section p {
  color: #ffffff;
}


.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-body{
  text-align: center;
}

.card-body p{
  text-align: left;
  padding-left: 5px;
}

#btnvideo{
  background-color: rgb(33, 33, 155);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border-color: rgb(91, 91, 255);
  border-width: 2px;
  margin-left: 12px;
}

#btninicio{
  background-color: #2500c9;
  border-color: #2500c9;
  }

.custom-card {
  max-width: 900px; 
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 12px;
}

.card-header{
  font-weight: bold;
  font-size: 20px;
}

.section img{
  margin-top: 30px;
 margin-bottom: 10px;
  width: 125px;
  height: 62px;
  margin-left: 14px;
}

footer {
  background-color: #f8f8f8;
  margin-bottom: 0;
  margin-top: 90px;
}

#resultado{
  padding-top: 12px;
}

#btninicio:hover{
 background-color: #03144b;
 border-color: #03144b;
}

#btnvideo:hover{
  background-color: #7d88eb;
}